uk.ac.bolton.archimate.model/model/xsd/archi.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:archimate="http://www.bolton.ac.uk/archimate" xmlns:ecore="http://www.eclipse.org/emf/2002/Ecore" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bolton.ac.uk/archimate">
  <xsd:import namespace="http://www.eclipse.org/emf/2002/Ecore" schemaLocation="ecore.xsd"/>
  <xsd:simpleType name="FolderType">
    <xsd:restriction base="xsd:NCName">
      <xsd:enumeration value="user"/>
      <xsd:enumeration value="business"/>
      <xsd:enumeration value="application"/>
      <xsd:enumeration value="technology"/>
      <xsd:enumeration value="connectors"/>
      <xsd:enumeration value="relations"/>
      <xsd:enumeration value="diagrams"/>
      <xsd:enumeration value="derived"/>
      <xsd:enumeration value="motivation"/>
      <xsd:enumeration value="implementation_migration"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType abstract="true" name="Adapter"/>
  <xsd:complexType abstract="true" name="Identifier">
    <xsd:attribute name="id" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Property">
    <xsd:attribute default="" name="key" type="xsd:string"/>
    <xsd:attribute default="" name="value" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Property" type="archimate:Property"/>
  <xsd:complexType abstract="true" name="Properties">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="properties" type="archimate:Property"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Nameable">
    <xsd:attribute default="" name="name" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="TextContent">
    <xsd:attribute default="" name="content" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Documentable">
    <xsd:attribute default="" name="documentation" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="Cloneable"/>
  <xsd:complexType abstract="true" name="FolderContainer">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="folders" type="archimate:Folder"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ArchimateModel">
    <xsd:complexContent>
      <xsd:extension base="archimate:FolderContainer">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="properties" type="archimate:Property"/>
        </xsd:sequence>
        <xsd:attribute default="" name="name" type="xsd:string"/>
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute name="purpose" type="xsd:string"/>
        <xsd:attribute default="" name="version" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ArchimateModel" type="archimate:ArchimateModel"/>
  <xsd:complexType abstract="true" name="ArchimateModelElement">
    <xsd:complexContent>
      <xsd:extension base="archimate:Adapter"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Folder">
    <xsd:complexContent>
      <xsd:extension base="archimate:ArchimateModelElement">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="folders" type="archimate:Folder"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="properties" type="archimate:Property"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="elements" type="ecore:EObject"/>
        </xsd:sequence>
        <xsd:attribute default="" name="name" type="xsd:string"/>
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute default="" name="documentation" type="xsd:string"/>
        <xsd:attribute name="type" type="archimate:FolderType"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Folder" type="archimate:Folder"/>
  <xsd:complexType abstract="true" name="ArchimateElement">
    <xsd:complexContent>
      <xsd:extension base="archimate:ArchimateModelElement">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="properties" type="archimate:Property"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute default="" name="name" type="xsd:string"/>
        <xsd:attribute default="" name="documentation" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="JunctionElement">
    <xsd:complexContent>
      <xsd:extension base="archimate:ArchimateElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="InterfaceElement">
    <xsd:complexContent>
      <xsd:extension base="archimate:ArchimateElement">
        <xsd:attribute default="0" name="interfaceType" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Junction">
    <xsd:complexContent>
      <xsd:extension base="archimate:JunctionElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Junction" type="archimate:Junction"/>
  <xsd:complexType name="AndJunction">
    <xsd:complexContent>
      <xsd:extension base="archimate:JunctionElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AndJunction" type="archimate:AndJunction"/>
  <xsd:complexType name="OrJunction">
    <xsd:complexContent>
      <xsd:extension base="archimate:JunctionElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="OrJunction" type="archimate:OrJunction"/>
  <xsd:complexType abstract="true" name="Relationship">
    <xsd:complexContent>
      <xsd:extension base="archimate:ArchimateElement">
        <xsd:attribute name="source" type="xsd:string"/>
        <xsd:attribute name="target" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AccessRelationship">
    <xsd:complexContent>
      <xsd:extension base="archimate:Relationship">
        <xsd:attribute default="0" name="accessType" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AccessRelationship" type="archimate:AccessRelationship"/>
  <xsd:complexType name="AggregationRelationship">
    <xsd:complexContent>
      <xsd:extension base="archimate:Relationship"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AggregationRelationship" type="archimate:AggregationRelationship"/>
  <xsd:complexType name="AssignmentRelationship">
    <xsd:complexContent>
      <xsd:extension base="archimate:Relationship"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AssignmentRelationship" type="archimate:AssignmentRelationship"/>
  <xsd:complexType name="AssociationRelationship">
    <xsd:complexContent>
      <xsd:extension base="archimate:Relationship"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="AssociationRelationship" type="archimate:AssociationRelationship"/>
  <xsd:complexType name="CompositionRelationship">
    <xsd:complexContent>
      <xsd:extension base="archimate:Relationship"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CompositionRelationship" type="archimate:CompositionRelationship"/>
  <xsd:complexType name="FlowRelationship">
    <xsd:complexContent>
      <xsd:extension base="archimate:Relationship"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="FlowRelationship" type="archimate:FlowRelationship"/>
  <xsd:complexType name="RealisationRelationship">
    <xsd:complexContent>
      <xsd:extension base="archimate:Relationship"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="RealisationRelationship" type="archimate:RealisationRelationship"/>
  <xsd:complexType name="SpecialisationRelationship">
    <xsd:complexContent>
      <xsd:extension base="archimate:Relationship"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SpecialisationRelationship" type="archimate:SpecialisationRelationship"/>
  <xsd:complexType name="TriggeringRelationship">
    <xsd:complexContent>
      <xsd:extension base="archimate:Relationship"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="TriggeringRelationship" type="archimate:TriggeringRelationship"/>
  <xsd:complexType name="UsedByRelationship">
    <xsd:complexContent>
      <xsd:extension base="archimate:Relationship"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="UsedByRelationship" type="archimate:UsedByRelationship"/>
  <xsd:complexType name="InfluenceRelationship">
    <xsd:complexContent>
      <xsd:extension base="archimate:Relationship"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InfluenceRelationship" type="archimate:InfluenceRelationship"/>
  <xsd:complexType abstract="true" name="BusinessLayerElement">
    <xsd:complexContent>
      <xsd:extension base="archimate:ArchimateElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="BusinessActivity">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BusinessActivity" type="archimate:BusinessActivity"/>
  <xsd:complexType name="BusinessActor">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BusinessActor" type="archimate:BusinessActor"/>
  <xsd:complexType name="BusinessCollaboration">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BusinessCollaboration" type="archimate:BusinessCollaboration"/>
  <xsd:complexType name="Contract">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Contract" type="archimate:Contract"/>
  <xsd:complexType name="BusinessEvent">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BusinessEvent" type="archimate:BusinessEvent"/>
  <xsd:complexType name="BusinessFunction">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BusinessFunction" type="archimate:BusinessFunction"/>
  <xsd:complexType name="BusinessInteraction">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BusinessInteraction" type="archimate:BusinessInteraction"/>
  <xsd:complexType name="BusinessInterface">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement">
        <xsd:attribute default="0" name="interfaceType" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BusinessInterface" type="archimate:BusinessInterface"/>
  <xsd:complexType name="Meaning">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Meaning" type="archimate:Meaning"/>
  <xsd:complexType name="BusinessObject">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BusinessObject" type="archimate:BusinessObject"/>
  <xsd:complexType name="BusinessProcess">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BusinessProcess" type="archimate:BusinessProcess"/>
  <xsd:complexType name="Product">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Product" type="archimate:Product"/>
  <xsd:complexType name="Representation">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Representation" type="archimate:Representation"/>
  <xsd:complexType name="BusinessRole">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BusinessRole" type="archimate:BusinessRole"/>
  <xsd:complexType name="BusinessService">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="BusinessService" type="archimate:BusinessService"/>
  <xsd:complexType name="Value">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Value" type="archimate:Value"/>
  <xsd:complexType name="Location">
    <xsd:complexContent>
      <xsd:extension base="archimate:BusinessLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Location" type="archimate:Location"/>
  <xsd:complexType abstract="true" name="ApplicationLayerElement">
    <xsd:complexContent>
      <xsd:extension base="archimate:ArchimateElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ApplicationCollaboration">
    <xsd:complexContent>
      <xsd:extension base="archimate:ApplicationLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ApplicationCollaboration" type="archimate:ApplicationCollaboration"/>
  <xsd:complexType name="ApplicationComponent">
    <xsd:complexContent>
      <xsd:extension base="archimate:ApplicationLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ApplicationComponent" type="archimate:ApplicationComponent"/>
  <xsd:complexType name="ApplicationFunction">
    <xsd:complexContent>
      <xsd:extension base="archimate:ApplicationLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ApplicationFunction" type="archimate:ApplicationFunction"/>
  <xsd:complexType name="ApplicationInteraction">
    <xsd:complexContent>
      <xsd:extension base="archimate:ApplicationLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ApplicationInteraction" type="archimate:ApplicationInteraction"/>
  <xsd:complexType name="ApplicationInterface">
    <xsd:complexContent>
      <xsd:extension base="archimate:ApplicationLayerElement">
        <xsd:attribute default="0" name="interfaceType" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ApplicationInterface" type="archimate:ApplicationInterface"/>
  <xsd:complexType name="DataObject">
    <xsd:complexContent>
      <xsd:extension base="archimate:ApplicationLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DataObject" type="archimate:DataObject"/>
  <xsd:complexType name="ApplicationService">
    <xsd:complexContent>
      <xsd:extension base="archimate:ApplicationLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ApplicationService" type="archimate:ApplicationService"/>
  <xsd:complexType abstract="true" name="TechnologyLayerElement">
    <xsd:complexContent>
      <xsd:extension base="archimate:ArchimateElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Artifact">
    <xsd:complexContent>
      <xsd:extension base="archimate:TechnologyLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Artifact" type="archimate:Artifact"/>
  <xsd:complexType name="CommunicationPath">
    <xsd:complexContent>
      <xsd:extension base="archimate:TechnologyLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="CommunicationPath" type="archimate:CommunicationPath"/>
  <xsd:complexType name="Network">
    <xsd:complexContent>
      <xsd:extension base="archimate:TechnologyLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Network" type="archimate:Network"/>
  <xsd:complexType name="InfrastructureInterface">
    <xsd:complexContent>
      <xsd:extension base="archimate:TechnologyLayerElement">
        <xsd:attribute default="0" name="interfaceType" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InfrastructureInterface" type="archimate:InfrastructureInterface"/>
  <xsd:complexType name="InfrastructureService">
    <xsd:complexContent>
      <xsd:extension base="archimate:TechnologyLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InfrastructureService" type="archimate:InfrastructureService"/>
  <xsd:complexType name="InfrastructureFunction">
    <xsd:complexContent>
      <xsd:extension base="archimate:TechnologyLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="InfrastructureFunction" type="archimate:InfrastructureFunction"/>
  <xsd:complexType name="Node">
    <xsd:complexContent>
      <xsd:extension base="archimate:TechnologyLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Node" type="archimate:Node"/>
  <xsd:complexType name="SystemSoftware">
    <xsd:complexContent>
      <xsd:extension base="archimate:TechnologyLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SystemSoftware" type="archimate:SystemSoftware"/>
  <xsd:complexType name="Device">
    <xsd:complexContent>
      <xsd:extension base="archimate:TechnologyLayerElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Device" type="archimate:Device"/>
  <xsd:complexType abstract="true" name="MotivationElement">
    <xsd:complexContent>
      <xsd:extension base="archimate:ArchimateElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Stakeholder">
    <xsd:complexContent>
      <xsd:extension base="archimate:MotivationElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Stakeholder" type="archimate:Stakeholder"/>
  <xsd:complexType name="Driver">
    <xsd:complexContent>
      <xsd:extension base="archimate:MotivationElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Driver" type="archimate:Driver"/>
  <xsd:complexType name="Assessment">
    <xsd:complexContent>
      <xsd:extension base="archimate:MotivationElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Assessment" type="archimate:Assessment"/>
  <xsd:complexType name="Goal">
    <xsd:complexContent>
      <xsd:extension base="archimate:MotivationElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Goal" type="archimate:Goal"/>
  <xsd:complexType name="Requirement">
    <xsd:complexContent>
      <xsd:extension base="archimate:MotivationElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Requirement" type="archimate:Requirement"/>
  <xsd:complexType name="Constraint">
    <xsd:complexContent>
      <xsd:extension base="archimate:MotivationElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Constraint" type="archimate:Constraint"/>
  <xsd:complexType name="Principle">
    <xsd:complexContent>
      <xsd:extension base="archimate:MotivationElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Principle" type="archimate:Principle"/>
  <xsd:complexType abstract="true" name="ImplementationMigrationElement">
    <xsd:complexContent>
      <xsd:extension base="archimate:ArchimateElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="WorkPackage">
    <xsd:complexContent>
      <xsd:extension base="archimate:ImplementationMigrationElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="WorkPackage" type="archimate:WorkPackage"/>
  <xsd:complexType name="Deliverable">
    <xsd:complexContent>
      <xsd:extension base="archimate:ImplementationMigrationElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Deliverable" type="archimate:Deliverable"/>
  <xsd:complexType name="Plateau">
    <xsd:complexContent>
      <xsd:extension base="archimate:ImplementationMigrationElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Plateau" type="archimate:Plateau"/>
  <xsd:complexType name="Gap">
    <xsd:complexContent>
      <xsd:extension base="archimate:ImplementationMigrationElement"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="Gap" type="archimate:Gap"/>
  <xsd:complexType abstract="true" name="DiagramModelComponent">
    <xsd:complexContent>
      <xsd:extension base="archimate:Identifier">
        <xsd:attribute default="" name="name" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="DiagramModelContainer">
    <xsd:complexContent>
      <xsd:extension base="archimate:DiagramModelComponent">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="children" type="archimate:DiagramModelObject"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="DiagramModel">
    <xsd:complexContent>
      <xsd:extension base="archimate:ArchimateModelElement">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="children" type="archimate:DiagramModelObject"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="properties" type="archimate:Property"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="xsd:string"/>
        <xsd:attribute default="" name="name" type="xsd:string"/>
        <xsd:attribute default="" name="documentation" type="xsd:string"/>
        <xsd:attribute name="connectionRouterType" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DiagramModelReference">
    <xsd:complexContent>
      <xsd:extension base="archimate:DiagramModelObject">
        <xsd:attribute name="referencedModel" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DiagramModelReference" type="archimate:DiagramModelReference"/>
  <xsd:complexType abstract="true" name="DiagramModelObject">
    <xsd:complexContent>
      <xsd:extension base="archimate:DiagramModelComponent">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="bounds" type="archimate:Bounds"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="sourceConnections" type="archimate:DiagramModelConnection"/>
        </xsd:sequence>
        <xsd:attribute name="font" type="xsd:string"/>
        <xsd:attribute name="fontColor" type="xsd:string"/>
        <xsd:attribute name="textAlignment" type="xsd:int"/>
        <xsd:attribute name="textPosition" type="xsd:int"/>
        <xsd:attribute name="fillColor" type="xsd:string"/>
        <xsd:attribute name="targetConnections" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="DiagramModelGroup">
    <xsd:complexContent>
      <xsd:extension base="archimate:DiagramModelObject">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="children" type="archimate:DiagramModelObject"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="properties" type="archimate:Property"/>
        </xsd:sequence>
        <xsd:attribute default="" name="documentation" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DiagramModelGroup" type="archimate:DiagramModelGroup"/>
  <xsd:complexType name="DiagramModelNote">
    <xsd:complexContent>
      <xsd:extension base="archimate:DiagramModelObject">
        <xsd:attribute default="" name="content" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DiagramModelNote" type="archimate:DiagramModelNote"/>
  <xsd:complexType name="DiagramModelImage">
    <xsd:complexContent>
      <xsd:extension base="archimate:DiagramModelObject">
        <xsd:attribute name="borderColor" type="xsd:string"/>
        <xsd:attribute name="imagePath" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DiagramModelImage" type="archimate:DiagramModelImage"/>
  <xsd:complexType name="DiagramModelConnection">
    <xsd:complexContent>
      <xsd:extension base="archimate:DiagramModelComponent">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="properties" type="archimate:Property"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="bendpoints" type="archimate:DiagramModelBendpoint"/>
        </xsd:sequence>
        <xsd:attribute name="font" type="xsd:string"/>
        <xsd:attribute name="fontColor" type="xsd:string"/>
        <xsd:attribute name="textAlignment" type="xsd:int"/>
        <xsd:attribute name="textPosition" type="xsd:int"/>
        <xsd:attribute default="" name="documentation" type="xsd:string"/>
        <xsd:attribute default="1" name="lineWidth" type="xsd:int"/>
        <xsd:attribute name="lineColor" type="xsd:string"/>
        <xsd:attribute name="type" type="xsd:int"/>
        <xsd:attribute name="source" type="xsd:string"/>
        <xsd:attribute name="target" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DiagramModelConnection" type="archimate:DiagramModelConnection"/>
  <xsd:complexType name="DiagramModelBendpoint">
    <xsd:complexContent>
      <xsd:extension base="archimate:Cloneable">
        <xsd:attribute name="startX" type="xsd:int"/>
        <xsd:attribute name="startY" type="xsd:int"/>
        <xsd:attribute name="endX" type="xsd:int"/>
        <xsd:attribute name="endY" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DiagramModelBendpoint" type="archimate:DiagramModelBendpoint"/>
  <xsd:complexType abstract="true" name="FontAttribute">
    <xsd:attribute name="font" type="xsd:string"/>
    <xsd:attribute name="fontColor" type="xsd:string"/>
    <xsd:attribute name="textAlignment" type="xsd:int"/>
    <xsd:attribute name="textPosition" type="xsd:int"/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="BorderObject">
    <xsd:attribute name="borderColor" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType abstract="true" name="DiagramModelImageProvider">
    <xsd:attribute name="imagePath" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="Bounds">
    <xsd:attribute name="x" type="xsd:int"/>
    <xsd:attribute name="y" type="xsd:int"/>
    <xsd:attribute default="-1" name="width" type="xsd:int"/>
    <xsd:attribute default="-1" name="height" type="xsd:int"/>
  </xsd:complexType>
  <xsd:element name="Bounds" type="archimate:Bounds"/>
  <xsd:complexType abstract="true" name="Lockable">
    <xsd:attribute name="locked" type="xsd:boolean"/>
  </xsd:complexType>
  <xsd:complexType name="ArchimateDiagramModel">
    <xsd:complexContent>
      <xsd:extension base="archimate:DiagramModel">
        <xsd:attribute name="viewpoint" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="ArchimateDiagramModel" type="archimate:ArchimateDiagramModel"/>
  <xsd:complexType name="DiagramModelArchimateObject">
    <xsd:complexContent>
      <xsd:extension base="archimate:DiagramModelObject">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="children" type="archimate:DiagramModelObject"/>
        </xsd:sequence>
        <xsd:attribute default="0" name="type" type="xsd:int"/>
        <xsd:attribute name="archimateElement" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DiagramModelArchimateObject" type="archimate:DiagramModelArchimateObject"/>
  <xsd:complexType name="DiagramModelArchimateConnection">
    <xsd:complexContent>
      <xsd:extension base="archimate:DiagramModelConnection">
        <xsd:attribute name="relationship" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="DiagramModelArchimateConnection" type="archimate:DiagramModelArchimateConnection"/>
  <xsd:complexType name="SketchModel">
    <xsd:complexContent>
      <xsd:extension base="archimate:DiagramModel">
        <xsd:attribute default="1" name="background" type="xsd:int"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SketchModel" type="archimate:SketchModel"/>
  <xsd:complexType name="SketchModelSticky">
    <xsd:complexContent>
      <xsd:extension base="archimate:DiagramModelObject">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="children" type="archimate:DiagramModelObject"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="properties" type="archimate:Property"/>
        </xsd:sequence>
        <xsd:attribute default="" name="content" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SketchModelSticky" type="archimate:SketchModelSticky"/>
  <xsd:complexType name="SketchModelActor">
    <xsd:complexContent>
      <xsd:extension base="archimate:DiagramModelObject">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="properties" type="archimate:Property"/>
        </xsd:sequence>
        <xsd:attribute default="" name="documentation" type="xsd:string"/>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:element name="SketchModelActor" type="archimate:SketchModelActor"/>
</xsd:schema>
